/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  transition: all 0.35s;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-gray-500: hsl(0, 0%, 42%);
  --clr-Gray-950: hsl(0, 0%, 7%);

  --font-figtree: "Figtree", sans-serif;

  --fw-normal: 500;
  --fw-bold: 800;

  --fs-16: 16px;
  --fs-heading: 1.25rem;
  
  --border-radius: 0.5rem;
  --spacing: 0.25rem;
}

body {
  background-color: var(--clr-yellow);
  font-family: var(--font-figtree);
  padding-inline: calc(var(--spacing) * 4);
  height: 100vh;
  width: 100vw;
}

main {
  height: calc(100vh - 16.5px);
  display: grid;
  place-items: center;
}

.blog-card {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-Gray-950);
  box-shadow: 8px 8px var(--clr-Gray-950);
  border-radius: calc(var(--border-radius) * 2);
  padding: calc(var(--spacing) * 6);
  max-width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing) * 6);
}

.blog-illustration {
  border-radius: calc(var(--border-radius) * 1.5);
  overflow: hidden;
  object-fit: cover;
}

.blog-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: calc(var(--spacing) * 4);
}

button {
  background-color: var(--clr-yellow);
  border: none;
  border-radius: calc(var(--border-radius) * 0.5);
  color: var(--clr-Gray-950);
  display: block;
  font: var(--font-figtree);
  font-weight: var(--fw-bold);
  padding-inline: calc(var(--spacing) * 3.5);
  padding-block: var(--spacing);
}

button:hover {
  background-color: var(--clr-Gray-950);
  color: var(--clr-yellow);
  cursor: pointer;
}

.blog-txt h1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading);
}

.blog-txt h1:hover {
   -webkit-text-stroke: 0.5px black;
}

.blog-txt h1:hover {
  color: var(--clr-yellow);
  cursor: pointer;
}

.blog-txt p {
  color: var(--clr-gray-500);
}

.blog-txt figcaption {
  font-weight: var(--fw-bold);
}

.author {
  margin-top: calc(var(--spacing) * 3);
}

.author figure {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--spacing) * 4);
}

.author img {
  max-width: 40px;
}

.author figcaption {
  font-style: normal;
}
